<section class="wrapper container">
    <span class="wrapper">
        <span class="wrapper">
            <span class="wrapper">
                <span class="wrapper">
                    <span class="wrapper">
                            <span class="animation wrapper">
                                <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
                            </span>
                        </span>
                    </span>
            </span>
        </span>
    </span>
</section>